.related{
    background: #F9F9F9;
    padding: 3rem 0 .5rem;

    .container{
        > .title{
            font-size: 1.125rem;
            font-weight: 700;
            padding-bottom: 2rem;
            text-align: center;
        }
    }
}