section.noticias{
    background: $gradient;
    padding: 3rem 0;
    position: relative;
    overflow: hidden;

    @include mobile{
        padding-bottom: 2rem;
    }

    &::after{
        background-image: url(../img/logo-white.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        bottom: -4rem;
        content: '';
        height: 400px;
        position: absolute;
        opacity: .2;
        right: -5rem;
        width: 400px;
    }

    .container{
        > .title{
            color: #FFF;
            font-family: $Nunito;
            font-size: var(--title);
            padding: 1rem 0;
            position: relative;
            text-align: center;

            @include mobile{
                padding: 0;
            }

            &::after{
                content: 'Notícias';
                font-family: $Nunito;
                font-size: 4rem;
                font-weight: 900;
                position: absolute;
                opacity: .2;
                left: -20px;
                top: -10px;
                text-transform: uppercase;

                @include mobile{
                    display: none;
                }
            }
        }
    }

    .blog{
        display: flex;
        justify-content: center;
        padding-top: 2rem;

        @include mobile{
            flex-wrap: wrap;       
        }

        .news{
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            flex-direction: column;
            margin: 0 .5rem;
            overflow: hidden;
            transition: all .3s ease;
            width: 30%;

            @include mobile{
                margin: 0;
                margin-bottom: 2rem;
                width: 100%;
            }

            .image{
                height: 210px;
                overflow: hidden;
                width: 100%;

                img{
                    height: 100%;
                    object-fit: cover;
                    transition: all .3s ease;
                    width: 100%;
                }
            }

            .content{
                background: #FFF;
                color: #000;
                font-family: $Nunito;
                padding: 1.5rem 1rem;
                position: relative;
                min-height: 238px;

                .title{
                    font-weight: 800;
                }

                .text{
                    line-height: 24px;
                    padding: 1rem 0;
                }

                .button{
                    align-items: center;
                    color: #000;
                    display: flex;
                    font-family: $Nunito;
                    justify-content: flex-end;
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                    transition: all .3s ease;

                    @include mobile{
                        margin-top: .5rem;
                    }

                    .arrow{
                        align-items: center;
                        background: $ddBlue;
                        border-radius: 100%;
                        display: flex;
                        height: 30px;
                        justify-content: center;
                        margin-left: .5rem;
                        width: 30px;

                        img{
                            filter: invert(100%);
                        }
                    }

                    &:hover{
                        transform: translate(5px, 0);
                    }
                }
            }

            &:hover{
                transform: translate(0, -5px);

                .image{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}