&.single{
    .head{
        .title{
            justify-content: center;
        }
    }

    .content{
        padding: 0;

        .redes-sociais{
            align-items: center;
            display: flex;
    
            @include mobile{
                justify-content: center;
                max-height: 0;
                order: 2;
                overflow: hidden;
                transition: all .3s ease;
                width: 100%;
            }
    
            .icon{
                align-items: center;
                background: $ddBlue;
                border-radius: 100%;
                display: flex;
                height: 35px;
                justify-content: center;
                margin-left: .5rem;
                transition: all .3s ease;
                width: 35px;
    
                @include mobile{
                    margin: 0 .5rem;
                }
    
                img{
                    height: 50%;
                    filter: invert(100%);
                    object-fit: cover;
                    width: 50%;
                }
    
                &:hover{
                    background: $blue;
                    transform: translate(0, -5px);
                }
            }
    
            &.openMenu{
                margin-top: .5rem;
                max-height: 200px
            }
        }

        .image{
            height: 450px;
            border-radius: 22px;
            overflow: hidden;
            width: 100%;

            @media screen and (max-width: 991px) {
                height: 200px;
            }
    
            img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .box{
            margin-top: 2rem;
            padding-bottom: 3rem;

            .date{
                color: $darkBlue;
                display: block;
                font-weight: 600;
                margin-bottom: .5rem;
                text-align: center;
            }

            p{
                line-height: 25px;

                &.text{
                    display: block;
                    text-align: center;
                }

                &:not(:last-child){
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .relacionados{
        padding: 2rem 0;

        @media screen and (max-width: 991px) {
            padding: 0 0 1rem;
        }
        
        .stitle{
            font-size: 1.125rem;
            font-weight: 800;
            text-align: center;
        }

        ul{
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 49%);
            padding: 2rem 0;
    
            @include mobile{
                grid-template-columns: repeat(1, 100%);
            }
    
            li{
                transition: all .3s ease;
                width: 100%;
    
                @include mobile{
                    margin: 0;
                }
    
                .image{
                    border-radius: 6px;
                    height: 250px;
                    overflow: hidden;
                    width: 100%;
    
                    img{
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: all .3s ease;
                        width: 100%;
                    }
                }
    
                .content{
                    background: #E9F2F4;
                    border-radius: 7px;
                    margin: 0 auto;
                    margin-top: -5rem;
                    max-width: 80%;
                    padding: 1rem;
                    padding-bottom: 30px;
                    min-height: 160px;
                    position: relative;
                    z-index: 1;
    
                    .date{
                        font-family: $Nunito;
                        font-size: var(--button);
                    }
    
                    .title{
                        font-family: $Nunito;
                        font-weight: 700;
                        padding: .5rem 0;
                    }
    
                    .text{
                        font-family: $Nunito;
                        line-height: 22px;
                    }
    
                    .button{
                        align-items: center;
                        color: #000;
                        display: flex;
                        font-family: $Nunito;
                        justify-content: flex-end;
                        position: absolute;
                        bottom: 1rem;
                        right: 1rem;
                        transition: all .3s ease;
    
                        .arrow{
                            align-items: center;
                            background: $ddBlue;
                            border-radius: 100%;
                            display: flex;
                            height: 30px;
                            justify-content: center;
                            margin-left: .5rem;
                            width: 30px;
    
                            img{
                                filter: invert(100%);
                            }
                        }
    
                        &:hover{
                            transform: translate(5px, 0);
                        }
                    }
                }
    
                &:hover{
                    .image{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}