.woocommerce-thankyou-order-received{
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.woocommerce-checkout #payment div.payment_box{
    background-color: #efefef;

    &::before{
        display: none;
    }
}

.wc_payment_method{

    label[for=payment_method_stripe]{
        display: none;
    }

    #stripe-payment-data{
        > p{
            position: relative;

            &::after{
                background: #efefef;
                content: 'Pague com seu cartão de crédito.';
                left: 0;
                padding-right: 1rem;
                position: absolute;
                top: 0;
            }
        }
    }

    .woocommerce-SavedPaymentMethods-saveNew{
        align-items: center;
        display: flex;
    }
}

.woocommerce-billing-fields__field-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;

    > p{
        box-sizing: border-box;
        width: 49%;

        label{
            font-size: .875rem;
            line-height: 0;
            padding: 0.5rem 0 0.6rem;
        }

        &#billing_country_field{
            width: 24%;
        }

        &#billing_address_1_field{
            width: 49%;
        }

        &#billing_address_2_field{
            width: 24%;

            .optional{
                display: none;
            }
        }

        &#billing_email_field{
            width: 100%;
        }

        select + span{
            height: 39px;

            span{
                height: 39px;

                .select2-selection__rendered{
                    line-height: 39px;
                }

                .select2-selection__arrow{
                    height: 39px;
                }
            }
        }
    }
}

.woocommerce-order{
    h2{
        padding-bottom: .5rem;
    }

    p{
        line-height: 22px;

        a{
            color: $blue;
        }
    }

    .subscription-id a{
        color: $blue;
    }
}

.woocommerce-order-details{
    margin-top: 2rem;
}

.woocommerce-password-hint{
    font-size: .875rem;
    line-height: 22px;
}

.woocommerce-order-details__title, .woocommerce-column__title{
    padding-bottom: 1rem;
}

.woocommerce-table__product-name{
    a{
        color: #000;

        &:hover{
            color: #000;
        }
    }
}

.woocommerce-customer-details{
    address{
        box-sizing: border-box;
        line-height: 22px;
        padding: 1rem;
        width: 100%;
    }
}

.back-button{
    align-items: center;
    background: $blue;
    border-radius: 6px;
    color: #FFF;
    display: flex;
    justify-content: center;
    max-width: 250px;
    padding: 1rem .5rem;
    width: 100%;
}